.footer {
  display: flex;
  flex-direction: column;
  
}
.content {
  display: flex;
  justify-content: space-around;
  border: 0.5em double black;
  border-radius: 1em;
  width: 90%;
  gap: 1em;
  margin: 4em auto 2em auto;
  background-color: rgb(255, 193, 78);
  padding: 1em;
}
.foot {
  display: flex;
  flex-direction: column;
}
input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  padding: 1em;
}
#Copyright {
  text-align: center;
  margin: 0 0 2em 0;
}

img {
  padding: 0 1em;
}
.back {
  color: green;
}
.next {
  width: 1.5em;
}
.social {
  display: flex;
  justify-content: space-evenly;
}
.email {
  display: flex;
  justify-content: center;
  align-items: center;
}
